@import "tailwindcss";



*{
  scrollbar-width: thin;
}
html { scroll-behavior: smooth;
background-color: black; }

body{
  background-color: black;
}
.aurora-container {
  width: 100%;
  height: 100%;
}
