@import "tailwindcss";



*{
  scrollbar-width: thin;
}
html { scroll-behavior: smooth;
background-color: black; }

body{
  background-color: black;
}
.aurora-container {
  width: 100%;
  height: 100%;
}
.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(1.6rem, 8vw, 10rem);
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
}

.char {
  display: inline-block;
}
